body {
	min-height: 100vh;
	margin: 0;
	background-color: rgb(30, 30, 30);
	position: relative;
}

div#board {
	position: absolute;
	width: calc(100vh - 200px);
	height: calc(100vh - 200px);
	left: 50%;
	top: calc(50% - 50px);
	margin: auto;
	transform: translate(-50%, -50%);
	/*background: url("img/board.jpg") no-repeat;*/
}
div#tableBox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


div#messageArea {
	position: absolute;
	top: -40px;
	left: 0;
	padding: 10px;
	color: rgb(83, 175, 19);
}

div#guessesArea {
	position: absolute;
	top: -40px;
	right: 0;
	padding: 10px;
	color: rgb(83, 175, 19);
	text-decoration: underline;
}

div#timeCountArea {
	position: absolute;
	bottom: -70px;
	left: 15px;
	min-width: 60px;
	padding: 10px;
	font-size: 30px;
	color: rgb(83, 175, 19);
	border: 1px solid rgb(83, 175, 19);
	border-radius: 50%;
	text-align: center;
}

input#startNewGame {
	position: absolute;
	box-sizing: border-box;
	width: 100px;
	padding: 10px;
	bottom: -45px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(152, 207, 113);
	border: 2px solid rgb(43, 91, 9);
	border-radius: 3px;
	font-size: 1em;
}

input#startNewGame:focus {
	outline: none;
}

.hit {
	background: url("img/ship.png") no-repeat center center;
	background-size: 90%;
}

.miss {
	background: url("img/miss.png") no-repeat center center;
	background-size: 90%;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	/* could use border-collapse instead */
	/* border-collapse: collapse; */
	width: 100%;
	height: 100%;
}

td {
	position: relative;
	box-sizing: border-box;
	border: 3px solid rgb(152, 207, 113);
}

td:not(.miss):not(.hit):hover {
	cursor: pointer;
}

td:not(.miss):not(.hit):before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
	border: 4px solid rgb(83, 175, 19);
	border-radius: 50%;
	opacity: 0;
}

td:not(.miss):not(.hit):after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	height: 4px;
	width: 4px;
	left: calc(50% - 4px);
	top: calc(50% - 4px);
	border: 4px solid rgb(83, 175, 19);
	border-radius: 50%;
	opacity: 0;
}

td:hover:after,
td:hover:before {
	opacity: 1;
	-webkit-transition: all 1000ms ease-out;
	-moz-transition: all 1000ms ease-out;
	-o-transition: all 1000ms ease-out;
	transition: all 1000ms ease-out;
}


/*td.miss:before,*/
/*td.hit:before {*/
	/*content: '';*/
	/*position: absolute;*/
	/*height: 4px;*/
	/*width: 80%;*/
	/*left: 10%;*/
	/*top: calc(50% - 1px);*/
	/*opacity: 0;*/
	/*border: none;*/
/*}*/

/*td.miss:after,*/
/*td.hit:after {*/
	/*content: '';*/
	/*position: absolute;*/
	/*height: 80%;*/
	/*width: 4px;*/
	/*left: calc(50% - 1px);*/
	/*top: 10%;*/
	/*background: red;*/
	/*opacity: 0;*/
	/*border: none;*/
/*}*/

/*td.miss:hover:before,*/
/*td.miss:hover:after,*/
/*td.hit:hover:after,*/
/*td.hit:hover:before {*/
	/*opacity: 1;*/
	/*background: red;*/
	/*-webkit-transition: all 1ms ease-out;*/
	/*-moz-transition: all 1ms ease-out;*/
	/*-o-transition: all 1ms ease-out;*/
	/*transition: all 1ms ease-out;*/
	/*transform: rotate(45deg);*/
/*}*/


form {
	width: 120px;
	position: absolute;
	bottom: -130px;
	right: 0px;
	padding: 15px;
	background-color: rgb(83, 175, 19);
	border-radius: 3px;
	text-align: center;
}

form input {
	box-sizing: border-box;
	width: 100px;
	padding: 10px;
	background-color: rgb(152, 207, 113);
	border: 2px solid rgb(43, 91, 9);
	border-radius: 3px;
	font-size: 1em;
}

form input[type="text"] {
	margin-bottom: 10px;
}

form input[type="button"] {
}

